@page
@model ARA_Proiect.Pages.Pacienti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.NumarTelefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.NumarTelefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.TipProgramare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.TipProgramare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.PublishingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pacient.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
